/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

/* Navigation Bar (Table of Contents) */
nav {
    position: sticky; /* Fix navigation bar at the top */
    top: 0;
    background-color: #333;
    z-index: 1000;
    padding: 0px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Sections */
section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Profile Photo */
.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
    border: 3px solid #4CAF50;
}

.education-images img {
    width: 150px;
    height: auto;
    margin: 10px;
}

.interest-images img {
    width: 200px;
    height: auto;
    margin: 10px;
}

html {
    scroll-padding-top: 60px;
}
